.global {
    min-height: 250px;
}

.someClass {
    margin-left: 20px;
    /*border: 1px solid red;*/
}

.box {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.name {
    width: 100px;
}

.priority {
    width: 100px;

}

